* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

:root {
    --lavalamp-color: #ffa72a;
    --lavalamp-color-r: 255;
    --lavalamp-color-g: 167;
    --lavalamp-color-b: 42;
}

body {
    background-color: #000;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.lavalamp {
    width: fit-content;
    box-shadow: 
        inset 0 0 10px #fcd59e,
        inset 0 0 41px 10px var(--lavalamp-color);
    background-color: rgba(var(--lavalamp-color-r), var(--lavalamp-color-g), var(--lavalamp-color-b), 0.1);
}