* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root {
    --lavalamp-color-dark: #ff7f2a;
    --lavalamp-color-r: 255;
    --lavalamp-color-g: 167;
    --lavalamp-color-b: 42;

    --bedroom-height: 1024px;
}

body {
    background-color: #000;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

body::-webkit-scrollbar {
    width: 1px;
}

body::-webkit-scrollbar-track {
    background-color: #000;
}

body::-webkit-scrollbar-thumb {
    background-color: #fff;
    outline: 1px solid #000;
}